* {
    margin: 0;
    padding: 0;
}


.wrapper {
    background: url(/img/back.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 696px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 1000px;
    height: 500px;
    background-color: whitesmoke;
    display: flex;
}

.first-block {
    display: flex;
    justify-content: center;
    background-color: #412C83;
    height: 100%;
    width: 750px;
    position: relative;
}

.hello {
    padding-top: 20px;
    position: absolute;
}

.hello img {
    height: 370px;

}

.text {
    position: absolute;
    align-self: flex-end;
    padding: 0 10px 10px 10px;
    text-align: justify;
    font-family: 'Langar', cursive;
    color: whitesmoke;
    font-size: 19px;
}

.second-block {
    background-color: #876ED7;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
}

.welcome {
    margin-top: 7px;
    font-size: 50px;
    font-family: 'Fjalla One', sans-serif;
    padding: 15px 0;
    color: whitesmoke;
}

.userLog {
    font-family: 'Fjalla One', sans-serif;
    font-size: 35px;
    padding: 20px 0 10px 0;
}

.remember {
    margin-top: 15px;
    display: flex;
    align-items: center;
    font-family: 'Langar', cursive;
}

.remember input {
    margin-right: 7px;
    margin-bottom: 2px;
    height: 15px;
    width: 15px;
    box-shadow: none;
    cursor: pointer;
}

.second-block a {
    font-size: 20px;
    color: whitesmoke;
}

.forgot {
    margin-top: 15px;
    margin-bottom: 40px;
    font-family: 'Langar', cursive;
}


.login {
    width: 160px;
    height: 40px;
    border-radius: 50px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    position: relative;
    display: inline-block;
    position: relative;
    text-shadow: 0 -1px 1px #777;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    background: linear-gradient(#580EAD, #580EAD 48%, #4A11AE 52%, #4A11AE);
    cursor: pointer;
}

.login:hover {
    box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, 5px 5px 7px #2D0571;
}

.login:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset;
}

.create {
    margin-top: 25px;
    font-family: 'Langar', cursive;
}

.create:hover,
.forgot:hover {
    color: black;
}

#email1,
#pass1 {
    width: 300px;
    height: 30px;
    font-size: 18px;
    padding-left: 10px;
    color: #412C83;
    margin: 5px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-family: 'Langar', cursive;
}

input:active,
input:focus {
    outline: none !important;
    box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, 5px 5px 7px #2D0571;
}

#email1:valid:not(:placeholder-shown),
#pass1:valid:not(:placeholder-shown) {
    border-color: green;
}

#email1:invalid:not(:placeholder-shown),
#pass1:invalid:not(:placeholder-shown) {
    border-color: red;
}

input:hover {
    box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, 5px 5px 7px #2D0571;
}

input::-moz-focus-inner {
    border: 0 !important;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #9370DB;
    margin: auto;
    padding: 0;
    border: 1px solid #7B1FA2;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    padding-right: 1px;
}

.close:hover {
    color: #000;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #8A2BE2;
    font-size: 24px;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    font-size: 20px;
}
